extends layout

block content

    - var messages = getMessages()

    if messages.notify
        each msg in messages.notify
            div.alert.alert-success.flash-msg(role='alert'  style='margin-top:20px;')= msg
    if messages.error
        each msg in messages.error
            div.alert.alert-danger.flash-msg(role='alert'  style='margin-top:20px;')= msg

    h1= title

    ul
        each author in author_list
            li
                a(href=author.url) #{author.name}
                |   #{author.lifespan}

        else
            li There are no authors.